@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white p-10 rounded-3xl border-2 drop-shadow-lg;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.icon-hover-effect {
  transition: transform 0.3s;
}

.icon-hover-effect:hover {
  transform: scale(1.1) translateX(-5%);
}